# 1. Business Understanding

## 1.1 Background

SyriaTel is one of the largest telecommunications providers in Syria, offering mobile services to a broad range of customers.  
In the highly competitive telecom industry, retaining existing customers is critical for sustaining profitability and market share.  

However, customer churn — when subscribers discontinue using SyriaTel’s services — poses a significant business challenge.  
Losing customers not only decreases revenue but also increases costs due to the need for acquiring new customers through marketing and promotional efforts.

---

## 1.2 Business Objective

The key objective of this project is to develop a **predictive model** that accurately identifies customers likely to churn.  
With such a model, SyriaTel will be able to:

- Take **proactive retention measures** for high-risk customers  
- Design **targeted marketing campaigns**  
- Improve **customer satisfaction** by addressing key pain points  

Ultimately, this will help **reduce churn rates**, save on customer acquisition costs, and maximize long-term profitability.

---

## 1.3 Stakeholders

| Stakeholder | Interest 
|---|---|
| **Executive Management** | Strategic decisions on customer retention initiatives |
| **Marketing Team** | Design targeted offers and promotions |
| **Customer Service** | Improve customer engagement and support |
| **Data Science Team** | Develop and deploy predictive churn models |

---

## 1.4 Business Problem Statement

- Churn impacts both revenue and brand reputation.
- The cost of acquiring a new customer is significantly higher than retaining an existing one.
- The current challenge is **lack of early warning systems** for customer churn.

By predicting churn probability, SyriaTel can intervene before losing the customer.

---

## 1.5 Project Goals

- **Build a classification model** using customer data to predict churn risk.
- **Identify key drivers** (features) contributing to churn.
- **Translate data insights into actionable business recommendations.**

---

## 1.6 Success Metrics

- **Model Performance:** Achieve an acceptable balance between precision and recall (using classification metrics like F1-score).
- **Business Impact:** Provide insights that SyriaTel’s marketing and customer success teams can implement.
- **Actionable Insights:** Highlight features that are strong predictors of churn to inform business decisions.

---

## 1.7 Project Scope and Limitations

- The model will be based on historical customer data available at the time of this project.
- Predictions will be probabilistic — they suggest likelihood, not certainty.
- Results and recommendations are constrained by the quality and depth of the dataset provided.

---

## 2. Data Understanding.
### Dataset Overview  
The dataset contains historical customer information from SyriaTel, including demographics, account information, usage patterns, and churn status.  
Our goal in this phase is to understand the structure of the data, inspect column details, assess data quality, and identify potential issues for cleaning and preparation.

## 2.1 Importing Libraries

In [16]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2.2 Loading and Preview Dataset

In [6]:
df = pd.read_csv('../data/bigml_59c28831336c6604c800002a.csv')

## 2.3 Check Dataset Shape & Columns

In [ ]:

print(f"Dataset Shape: {df.shape}")
print("\nColumns:\n", df.columns.tolist())

Dataset Shape: (3333, 21)

Columns:
 ['state', 'account length', 'area code', 'phone number', 'international plan', 'voice mail plan', 'number vmail messages', 'total day minutes', 'total day calls', 'total day charge', 'total eve minutes', 'total eve calls', 'total eve charge', 'total night minutes', 'total night calls', 'total night charge', 'total intl minutes', 'total intl calls', 'total intl charge', 'customer service calls', 'churn']

## 2.4 Checking Data Types and Null values.

In [9]:

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

state                     0
account length            0
area code                 0
phone number              0
international plan        0
voice mail plan           0
number vmail messages     0
total day minutes         0
total day calls           0
total day charge          0
total eve minutes         0
total eve calls           0
total eve charge          0
total night minutes       0
total night calls         0
total night charge        0
total intl minutes        0
total intl calls          0
total intl charge         0
customer service calls    0
churn                     0
dtype: int64

## 2.5 Quick Descriptive Stats of Numerical Columns

In [10]:

df.describe()

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

## 2.6 Check Unique Values per Column
This helps spot categorical columns and potential ID columns.

In [13]:
# 6️⃣ Check unique values for all columns
df.nunique().sort_values()

churn                        2
international plan           2
voice mail plan              2
area code                    3
customer service calls      10
total intl calls            21
number vmail messages       46
state                       51
total day calls            119
total night calls          120
total eve calls            123
total intl minutes         162
total intl charge          162
account length             212
total night charge         933
total eve charge          1440
total night minutes       1591
total eve minutes         1611
total day charge          1667
total day minutes         1667
phone number              3333
dtype: int64

## 2.7 Checking for Duplicate Records

In [ ]:

print(f"Duplicate Rows: {df.duplicated().sum()}")

Duplicate Rows: 0

## 2.8 Initial Observations.

- No critical missing values / Missing values in XYZ.
- Data types are a mix of numerical and categorical.
- Target variable is `Churn` (Binary).
- Will explore further during EDA.